@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


a{
    cursor: pointer;


/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/
}
a:hover{
    color: #0065FC;
}
h1{
    font-size: 19px;

}
h2{
    font-size: 19px;
}
body{
    font-family:'Raleway', sans-serif;
    margin: auto;
    max-width: 1500px;
    
    
}

.header{
    width:100%;
    height: 80px;
    margin: 10px;
    


    
}

.logo-box{
    float: left;
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.logo{
    margin: 0; padding: 0; /*marge ext et int */
    height: 2rem;   /*taille logo*/
}


.navigation_list{ 
    
    padding: 0;
    margin:1;
    list-style-type: none; /* enleve les points */
    text-decoration: none; /*enleve le soulignement*/
    display: flex;  /* mettre en ligne*/
    justify-content: flex-end;
}
nav ul li a {
    text-decoration: none;
    padding: 60px 20;
    background-color: white;
    color:black;
}
nav ul li a:hover{ 
    cursor: pointer;
   
  }
.toto:hover{
    color:green;
}
#inscrire{
    color: blue;
    position: static;
}




.contenant{
    list-style-type: none;
    
    
}
.recherche{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0px 30px 20px;
}
.icon{
    background-color: #F2F2F2;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding:9.5px;

}
.input{
    padding:9px ;
    border: 1px solid #F2F2F2;
}
.btn{
    background-color:#0065FC;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 10px;
    border:none;
    color: white;
    
}
.filtre{
    display: flex;
    align-items: center;
    margin: 10px;
}
button{
    cursor: pointer;
}
.bouton1{
    height:50px;
    width: 150px;
}
.bouton2{
    height: 50px;
    width: 250px;
}
.styled{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 2px 0 15px;
    border: 2px solid #f2f2f2;
    padding-left: 40px;
    border-radius: 25px;
    font-weight: 600;
    background-color: white;
}
.btnf{
    
    font-size: 30px; /* taille de l'icone*/
    color: #0065FC; /*couleur de l'incone*/
    justify-content: center;
    width: 45px; /* largeur de la celule*/
    height: 45px;/* hauteur de la celule*/
    background-color: #DEEBFF;/*fond couleur celue*/
    border-radius: 25px; /* l'arrondie de la celule*/
    position: absolute;
    left: -10;
    
}
.info{
   
}
.inf{
    font-size:25px ;
}
/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

.bloc1{
    width: 60%;
    height: 350px;
    background-color: #F2F2F2;
    border-radius: 2rem;
    padding:20px;
   
    
    
}
.bloc2{
    width: auto;
    height: 350px;
    background-color:#F2F2F2 ;
    border-radius: 2rem; 
    padding-top: 20px; 
    
}
.centre{
    display:flex
    
}

    
#bloc1{
    
    cursor: pointer;
    border-radius: 2rem;
    width:200px;
    height: 150px;
    margin: auto;
    
    


}

#bloc2{
    cursor: pointer;
    border-radius: 2rem;
    width:200px;
    height: 150px;
    margin: auto;
    
    
    


}
#bloc3{
    cursor: pointer;
    border-radius: 2rem;
    width:250px;
    height: 200px;
    margin: auto;
    


}

footer{
    background-color: #F2F2F2;
}
